<h1 class="py-4">Tweet</h1>

<% if current_user %>
<%= render "form"%>
    <% @tweets.each do |tweet| %>    
    <div class="card my-4">
    <%= image_tag "#{tweet.image_url}", class: "card-img-top" %>
        <div class="card-bnody">
            <p class="card-text "><%= tweet.content %></p>
        </div>
    <%= link_to  "like", likes_path(tweet.id), method: :post, class:"btn btn-secondary" %>
    <%= link_to  "retweet", root_path,  class:"btn btn-primary" %>
    </div>
    <% end %>
<%else%>
    <% @tweets.each do |tweet| %>    
    <div class="card my-4">
    <%= image_tag "#{tweet.image_url}", class: "card-img-top" %>
        <div class="card-bnody">
            <p class="card-text "><%= tweet.content %></p>
        </div>        
    </div>
    <% end %>
<%end%>





<% @tweets.each do |tweet| %>    
<div class="card my-4">
<%= image_tag "#{tweet.image_url}", class: "card-img-top" %>
    <div class="card-bnody">
        <p class="card-text "><%= tweet.content %></p>
    </div>
</div>
<% end %>

<%= paginate @tweets, param_name: :mostrar%>